$container-lg-p: 0px;

.container {
  display: flex;
  flex-direction: column;
  position: relative;

  &.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  @media (min-width: 768px) {
    display: block;
    padding: $container-lg-p;

    &.open {
      position: relative;
      background-color: transparent;
    }
  }
}

.field {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: gray;

  &.onlyMobile {
    @media (min-width: 768px) {
      display: none;
    }
  }

  &.exceptMobile {
    display: none;

    @media (min-width: 768px) {
      display: flex;
    }
  }  
}

input {
  padding: 10px;
}

ul {
  list-style: none;
  width: calc(100% - $container-lg-p * 2);

  flex-grow: 1;
  overflow-y: auto;
  box-shadow: none;
  
  @media (min-width: 768px) {
    position: absolute;
    max-height: 300px;
  }
}

li {
  background-color: white;
  border-bottom: 1px solid gray;
  padding: 10px;
  cursor: pointer;

  &:last-of-type {
    border-bottom-width: 0;
  }

  &.selected {
    background-color: darkslategray;
    color: white;
  }

  &:hover {
    background-color: rgb(105, 169, 169);
    color: white;
  }
}

.closeButton {
  display: none;
}

.open .closeButton {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  
  @media (min-width: 768px) {
    display: none;
  }
}
